/* 
    Name: Stevene Roe
    File: styles.css
    Due: 10/19/2025
*/

/* CSS Style resets */
header, nav, body, main, section, footer, img, ul, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for skip button */
.skip {
    position: absolute;
    left: -999px;
}

.skip:focus {
    color: #000;
    background-color: #fff;
    text-decoration: none;
    padding: 0.5%;
    top: auto;
    left: auto;
    right: 1px;
    z-index: 1;
}

/* Style rules for images */
img {
	max-width: 100%;
    max-height: 75vh;
    border-style: solid;
    border-width: 4px 4px 30px 4px;
    border-color:#f6eee4;
    padding: 10px;
	display: block;
}

img.thumb {
    width: 85vw;
    margin: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* Style rules for mobile viewport */

/* Hide tab-desk class */
.tab-desk{
	display: none;
}

/* Style rule for the body background */
body {
    background: url("../images/background_art.png") no-repeat, radial-gradient(circle at bottom, #701835, #300625, #020727);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}

/* Style rules for header */
header, .offcanvas-header {
    margin: 40px 10px;
    background-color: #000;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    text-align: center;
    border: solid;
    border-width: 10px;
    border-color:#5de6af;
    border-radius: 90px;
}

.offcanvas-title {
    color: #5de6af;
    font-family: "Jetbrains Mono", monospace;
    font-size: 1.2rem;
    font-weight: 800;
    font-style: normal;
}

header h1 {
    margin: 20px;
    color: #5de6af;
    font-family: "Jetbrains Mono", monospace;
    font-size: 1rem;
    font-weight: 800;
    font-style: normal;
}

header a {
    text-decoration: none;
    color: #5de6af;
}

/*Style rules for navigation area*/
nav {
    margin: 30px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li, .nav-item {
    display: block;
    font-size: 1.5em;
    font-family: "Jetbrains Mono", monospace;
    font-weight: bold;
}

nav li a, a.nav-link {
    display: block;
    color: #2a0611;
    padding: 0.5em 2em;
    text-decoration: none;
    background-color: #5de6af;
    margin: 3px;
    border-radius: 50px;
}

nav li a:active {
    color: #f6eee4;
    background-color: #000;
}

a.nav-link.active {
    color: #0f010c !important;
    background-color: #a2eed0;
}

.navbar-toggler {
    border-width: 5px !important;
    border-radius: 20px !important;
    border-color: #429673 !important;
}

#offcanvasDarkNavbar {
    background-color: #262129a8 !important;
}

.dropdown-menu-dark {
    font-size: 1.2rem !important;
    background-color: #121c24 !important;
}

/* Style rules for main content */
main {
    padding: 0 4%;
    background: transparent;
}

main h1, main h2, main h3 {
    margin: 70px 0px 20px 0px;
    display: block;
    font-family: "Spectral", serif;
    color: #f7e8d7;
}

main h1 {
    text-align: center;
}

main p {
    background-color: #121c24;
    border-style: solid;
    border-width: 5px 10px;
    border-color: #429673;
    margin: 10px;
    padding: 10px;
    font-family: "Jetbrains Mono", monospace;
    font-size: 1.1em;
    line-height: 1.7em;
    color: #f6eee4;
    border-radius: 20px;
    max-height: fit-content;
}

main p.small-note {
    border-style: solid;
    border-width: 5px 10px;
    border-color: #507264;
    border-radius: 5px;
    margin: 10px 50px;
    font-family: "Courier", monospace;
}

main p a {
    color: #0a1407;
    font-weight: bold;
    padding: 0.1em 0.5em;
    text-decoration: none;
    background-color: #5de6af;
    border-radius: 50px;
    white-space: nowrap;
}

main p a:active {
    color: #f6eee4;
    background-color: #000;
}

main ul {
    background-color: #121c24;
    border-style: solid;
    border-width: 5px 10px;
    border-color: #507264;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-family: "Jetbrains Mono", monospace;
    font-size: 1.5em;
    line-height: 1.7em;
    color: #f6eee4;
    max-width: fit-content;
}

main li {
    display: block;
    padding: 10px;
}

p.steve {
    border-color: #7a42a8;
    font-family: "Jetbrains Mono", monospace;
    font-size: 1em;
    font-weight: 200;
}

.hero {
    max-width: 85vw;
    margin: auto;
}

/* Style rules for header style links */
.button {
    font-size: 1.5em;
    font-family: "Jetbrains Mono", monospace;
    font-weight: bold;
    text-align: center;
}

.button a {
    display: flex;
    min-width: 9.6em;
    color: #2a0611;
    padding: 0.5em 2em;
    text-decoration: none;
    background-color: #5de6af;
    margin: 3px;
    border-radius: 50px;
}

a.button {
    font-size: 1em;
    display: block;
    color: #2a0611;
    text-decoration: none;
    background-color: #5de6af;
    margin: 3px;
    border-radius: 50px;
}

a.button:active {
    color: #f6eee4;
    background-color: transparent;
}

.button a:active {
    color: #f6eee4;
    background-color: transparent;
}

/* Style rules for showing music */

.view-sample {
    cursor: pointer;
}

#music-samples {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
}

#music-samples .row {
    margin: auto;
    flex-direction: column;
}

#music-samples .row a {
    padding: 5px;
    width: 300px;
}

#music-sample {
    display: none;
}

.audio-container {
    border: solid #507264;
    border-width: 5px 10px;
    border-radius: 5px;
    margin: 20px auto;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

audio {
    width: 550px;
    background-color: #b0c4ac;
    border: solid #b0c4ac;
    border-width: 18px 5px;
}

/* Style rules for captioned image blocks */

figure {
    margin-bottom: 10px;
}

figure img {
    max-height: 80vh;
    margin: auto;
}

.side-captioned{
    display: flex;
    flex-direction: row;
}

.img-captioned {
    margin-bottom: 10px;
}

.img-captioned img {
    width: 85vw;
    margin: auto;
}

.catalogue-captioned img {
    width: 85vw;
    margin: auto;
}

.round {
    border-radius: 10px;
}

table {
    border-style: solid;
    border-width: 5px 10px;
    margin: auto;
    font-family: "Jetbrains Mono", monospace;
    font-size: 1.1em;
    line-height: 1.7em;
    max-width: fit-content;
}

/* Style rule for comission sections */
#comissions h1, #comissions h2, #comissions h3 {
    text-align: center;
}

#comissions ul {
    margin: auto;
}

/* Style rule for the socials list */
#socials {
    text-align: center;
    margin-top: 100px;
}

/* Style rules for listed links */
.link-list {
    display: block;
    font-size: 1.2em;
    font-family: "Jetbrains Mono", monospace;
    font-weight: bold;
    text-align: center;
    max-width: fit-content;
    width: 13em;
    margin: auto;
}

.link-list ul {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    list-style-type: none;
}

.link-list li a {
    display: flex;
    color: #2a0611;
    padding: 5px 0 5px 15px;
    min-width: 200px;
    font-size: 1.5rem;
    text-decoration: none;
    justify-content: space-between;
    background-color: #5de6af;
    border-radius: 50px;
}

.link-list li a img {
    border: none;
    max-width: 50px;
}

.link-list li a:active {
    color: #f6eee4;
    background-color: transparent;
}

/* Style rules for small figure */
.side-fig img {
    width: 85vw;
}

/* Style rules for form content */
form {
    color:#f6eee4;
    background-color: #16454d !important;
    font-family: 'Jetbrains Mono', monospace;
}

#submit.button {
    background-color: #16454d;
    margin: 10px !important;
}

#submit.button:hover {
    background-color: #507264;
}

#submit.button:active {
    background-color: #121c24;
}

.form-grid {
    background-color: #121c24;
    border: solid;
    border-width: 5px 10px;
    border-color:#1c5c4c;
}

fieldset {
    margin: 10px !important;
    padding: 10px !important;
    border: solid !important;
    border-width: 2px !important;
    border-color: #b0c4ac !important;
}

fieldset p {
    border: none;
    background-color: transparent;
    font-weight: bolder;
    text-decoration: underline !important;
    margin: 0;
    padding: 20px 0 0 0;
}

fieldset legend {
    margin-top: 10px;
    font-family: 'Spectral', serif;
    font-weight: bold;
}

fieldset label, fieldset select{
    color: #f6eee4 !important;
    border-color: #f6eee4;
    border-radius: 0 !important;
    background-color: #16454d !important;
}

#comission-content {
    display: flex;
    flex-direction: column;
}

#comission-content label {
    padding: 5px;
    background-color: transparent !important;
}

/* Style rules for footer content */
footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 60px;
    padding: 10px;
    background-color: #0f010c6c;
    color: #f7e8d7;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.75em;
    clear: left;  
}

.credit {
    margin: auto 0 auto 0;
}

.credit p {
    margin: 10px;
}

.social {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.social a {
    margin: auto 0 auto 0;
    aspect-ratio: 1 / 1;
    max-width: 50px;
    min-width: 50px;
}

.social a img {
    border: none;
    aspect-ratio: 1 / 1;
}

/* Media Query for Tablet Viewport*/
@media screen and (min-width: 620px), print { 
    
    /* Tablet and Desktop Viewport: Show tab-desk class, hide mobile class */  
    .tab-desk {
        display: block;
    } 
    .mobile {
        display: none !important;  
    } 

    /* Tablet and Desktop Viewport: Set max width of content */
    #container {
        max-width: 1920px;
        margin: auto;
    }

    /* Tablet Viewport: Style rule for header content */
    header h1 {
        font-size: 1.4em;
    }
    
    span.tab-desk {
        display: inline;
    }

    /* Tablet Viewport: Style rules for nav content*/
    .navbar {
        display: none !important;
    }

    header.d-flex {
        display: none !important;
    }

    nav ul {
        background-color: #5de6af;
        border-radius: 90px;
        padding: 0px;
    }

    nav li {
        font-size: 1.2em;
        display: inline-block;
        border-right: solid;
    }

    nav li:last-child{
        border-right: none;
    }

    nav li a {
        padding: 8px;
        background-color: transparent;
    }

    nav li a:active {
        background-color: #0f010c;
    }

    /* Tablet Viewport: Style rules for main content*/ 
    .hero {
        max-width: 50vw;
    }

    figure.index-captioned {
        flex-direction: column;
    }

    figure img {
        margin: 10px auto;
        min-width: 300px;
    }

    figcaption {
        margin-right: auto;
    }

    .img-captioned {
        display: flex;
    }
    
    .img-captioned img{
        justify-self: center;
        min-width: 300px;
        margin: 10px;
    }

    img.thumb {
        margin: 0;
    }

    .small-fig {
        display: flex;
    }

    .small-fig img {
        width: 35vw;
    }

    #music-samples .row {
        flex-direction: row;
    }

    .audio-container {
        width: 550px;
    }

    .catalogue-captioned {
        display: flex;
    }

    .catalogue-captioned img{
        min-width: 200px;
        margin: 10px;
    }

    .button {
        min-width: fit-content;
    }

    .p-col {
        margin: auto;
    }

    /* Tablet Viewport: Style rules for socials content*/
    #socials {
        max-width: 500px;
        margin: 100px auto auto auto;
    }

    .link-list ul {
        margin-top: 40px;
    }
}

/* Media Query for Desktop Viewport*/
@media screen and (min-width: 1025px), print { 

    /* Desktop Viewport: Style rule for header content */
    header {
        position: absolute;
        text-align: left;
        padding: 0 10px;
        margin-top: 2px;
    }

    header:hover {
        background: radial-gradient(#16454d, #000000);
    }

    /* Desktop Viewport: Style rules for hero image*/
    .hero {
        max-width: 30em;
    }

    /* Desktop Viewport: Style rules for nav content*/
    nav ul {
        text-align: right;
        padding-right: 10px;
    }

    nav li a:hover, .button a:hover, main p a:hover, .link-list a:hover {
        background: #a2eed0;
    }

    nav li a:active, .button a:active, main p a:active {
        color: #a2eed0;
        background-color: #000;
    }

    /* Desktop Viewport: Style rules for main content*/
    .grid
    {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }

    figure {
        flex-direction: column;
    }

    figure img {
        max-width: 95%;
        height: 700%;
        margin: 10px;
    }

    .img-captioned {
        flex-direction: column;
    }

    .img-captioned img {
        width: 70%;
        height: 700%;
        margin: 10px;
    }

    #catalogue {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
        justify-items: center;
    }

    #site-content {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 20px;
        justify-items: center;
    }

    #site-content .img-captioned {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .catalogue-captioned {
        display: block;
        justify-items: center;
    }

    .catalogue-captioned img {
        max-width: 50%;
        max-height: 50%;
        margin: 10px;
    }

    .p-col img {
        width: 90%;
        height: 90%;
    }

}

/* Media Query for Large Desktop Viewport*/
@media screen and (min-width: 1400px), print { 

    /* Large Desktop Viewport: Style rules for main content*/
    .grid {
        grid-template-columns: auto auto auto;
    }
}
